#todolist {
  background-color: aqua;
  padding: 10px;
  .header {
    li {
      display: flex;
    }

    span {
      display: inline-block;
      font-weight: 600;
      width: 200px;
      &:nth-child(2) {
        width: 100px;
      }
    }
  }
  ul.list {
    li {
      margin-bottom: 10px;
      list-style: auto;
      span {
        display: inline-block;
        width: 200px;
        &:nth-child(2) {
          width: 100px;
        }
        input {
          padding: 5px;
        }
      }
    }
  }
}
